apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://129.146.11.230:443
  name: bmcs-k8s-cluster
contexts:
- context:
    cluster: bmcs-k8s-cluster
    user: default-admin
  name: bmcs-k8s-context
current-context: bmcs-k8s-context
kind: Config
preferences: {}
users:
- name: default-admin
  user:
    client-certificate-data: $KUBECONFIG_CLENT_CERTIFICATE
    client-key-data: $KUBECONFIG_CLENT_KEY
